@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: linear-gradient(to right, #434343 0%, black 100%);
    color:  white;
    font-family: cursive ;
    width: auto;
}

header{
    width: auto;
    background: linear-gradient(to right, #434343 0%, black 100%);
    padding: 60px 60px 60px 60px ;
    text-align: center;
}

.h1-text{
    text-align: center;
    font-family: cursive ;
    text-shadow:1px 2px 4px #e1e2ed;
}

.h2-text{
    font-family: cursive ;
    font-weight: bold;
    font-size: medium ;
    text-align: center;
}

/* dark/light theme */
/*@media (prefers-color-scheme: light) {*/
/*body{*/
/*    color: black;*/
/*}*/
/*}*/

/* MOBILE */
/*@media (min-width: 480px) and (max-width:767px) {*/

/*}*/

/*///////////button/////////*/
.button-collage {
    box-shadow: 4px 11px 10px -2px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:25px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color: black;
    font-family:cursive;
    font-size:15px;
    font-weight:bold;
    padding:7px 34px;
    text-decoration:none;
    text-shadow:1px 2px 4px #e1e2ed;
    justify-content: center;
}

.button-collage:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
}

/*/////////////navbar///////////////*/
nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
}

nav a {
    flex: 1;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

nav #nav-1{
    color: white;
}

nav #nav-1:hover{
    color: white;
    border-bottom: white 3px solid;
}

nav #nav-2{
    color: white;
}

nav #nav-2:hover{
    border-bottom: black 3px solid;
    color: black;
}

nav #nav-3{
    color: white;
}

nav #nav-3:hover{
    border-bottom: black 3px solid;
    color: black;
}


/*/////////////////////main///////////*/
.mainfield{
    width: auto;
    margin: 10px 10px 10px 10px ;
}

.amfoto{
    width: 40%;
    box-shadow: 4px 11px 10px -2px black;
    margin: 10px 10px 10px 10px ;
    border: ridge black 3px;
}

.field-text{
    padding: 10px 10px 10px 10px ;
    /*width: 60%;*/
}

.main-home{
    padding: 10px 10px 10px 10px ;
}

/*////////formulier/modal(content)//////*/

.sectionformulier {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.sectionformulier-content {
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(247, 30, 30) 100.3%);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: ridge 3px  #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.formfield{
    display: flex;
    justify-content: space-between;
}

input:invalid{
    border: 2px solid red;
}

input:valid{
    border: 2px solid green;
}

form{
    text-align: center;
    color: white;
}

/*///socialmedialinks//*/
.socialmedia{
    width: auto;
    margin: 15px 15px 15px 15px;
    padding-left: 45%;
}

.fa-instagram{

    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.fa-facebook-official{

    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}

.fa-youtube{

    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(247, 30, 30) 100.3%);

}

/*//////fotocollage//////*/
.fotocollage {
    display:flex;
    justify-content:space-between;
    position: inherit;
    flex-wrap: wrap;
}

section div {
    flex:1;
    padding:10px;
    text-align: center;
}

section div img {
    width:100%;
    height:40vh;
    object-fit:cover;
    border: ridge white 5px;

}

.fotocollage .fc figure p {
    font-family:cursive;
    font-weight:bold;

}

/*/////////footer//////////*/
footer{
    background: linear-gradient(to right, #434343 0%, black 100%);
    padding: 40px 40px 40px 40px ;
    text-align: center;
}

